New Product

<form action="/products" method="post">
  <p>Name: <input type="text" name="name"></p>
  <p>Description: <input type="text" name="description"></p>
  <p>Price: <input type="text" name="price"></p>
</form>